@media (max-width: 1800px) {
    .main-content-wrapper {
        width: 100%;
    }
    header {
        background-size: 100%;
    }
}
    
@media screen and (max-width: 1500px) {
    .header-container {
        margin: 0 50px;
        padding-bottom: 50px;
    }

    header {
        background-size: 100%;
        background-position: center;
    }

    .nav-container {
        flex-basis: 30%;
    }

    .describe-website {
        margin-left: 200px;
    }

    .benefits {
        margin-left: 0;
    }

    .benefits-describ {
        padding-top: 0px;
        padding-left: 0px;
    }

    .benefits-describ:first-child:after {
        left: 66%;
        bottom: 90%;
        width: 228px;
    }

    .benefits-describ:nth-child(2) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .benefits-describ:last-child:before {
        top: 178%;
        width: 435px;
    }

    .benefits-describ:last-child:after {
        left: 95%;
        top: 2%;
        width: 70px;
    }

    .publications-text {
        margin-left: 100px;
    }

    .laptop-container  {
        margin-left:0;
    }

    .laptop-text {
        margin-top: 128px;
        margin-left: 169px;
    }

    .donate-container {
        margin-left: 200px;
    }

    .contact {
        margin-left: 100px;
    }

    .company-links {
        height: 332px;
    }

    .useful-links {
        margin-left: 284px;
    }

    footer {
        margin-top: -136px;
        padding-left: 70px;
        height:0;
    }
}

@media screen and (max-width: 1054px) {
    
    header, .main-content-wrapper  {
        width:100%;
    }

    header {
        background-size: 127%;
        background-position: center;
    }

    .nav-container {
        flex-basis: 26%;
    }

    .benefits-describ {
        padding-right: 0;
    }

    .benefits-describ:nth-child(2) {
        padding-left: 18px;
    }

    .benefits-describ:first-child:after {
        left: 68%;
        bottom: 138%;
        width: 221px;
    }

    .benefits-describ:last-child:before {
        top: 213%;
        width: 351px;
    }

    .benefits {
        justify-content: normal;
    }

    .security-text {
        margin-top: 80px;
    }

    #second-column {
        margin-left: 8px;
    }

    .security-text {
        text-align: right;
        margin: 96px 291px 14px -2px;
    }

    .describ p {
        width: 321px;
        font-size: 12px;
    }
    
    .describe-website {
        margin-left: 144px;
    }

    h3 {
        padding-bottom: 40px;
    }

    .benefits-describ:last-child:after {
       display:none;
    }

    .laptop-container {
        margin-left: -112px;
    }

    .donate-container {
        margin-left: 20px;
    }

    .contact {
        margin-left: 230px;
    }

    .useful-links {
        margin-left: 139px;
    }
}

@media screen and (max-width: 768px) {
    .main-content-wrapper {
        width: 100%;
    }
    
    header {
        background-size: 164%;
        background-position: center;
    }

    .nav-container {
        flex-basis: 100%;
        margin: 0;
    }

    .users-panel {
        display: flex;
        margin-top: -156px;
        margin-right: 10px;
    }

    .nav-menu ul {
        margin-left: 10px;
        margin-right: 10px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    .describe-website {
        margin-left: 108px;
    }

    #create-button {
        width: 137px;
        height: 48px;
    }

    .small-button {
        width: 40px;
        height: 40px;
    }

    .main-buttons {
        padding-bottom: 100px;
    }

    .benefits {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .benefits-describ:first-child:after, .benefits-describ:last-child:before, .learn-more::after {
        display: none;
    }

    .benefits-name.key {
        padding-top: 75px;
    }

    .security-text {
        margin: 0;
        text-align: center;
        padding-bottom: 30px;
    }

    .security-text h4 {
        font-size: 35px;
    }

    .security-text p {
        font-size: 20px;
    }

    .learn-more {
        margin-left: 28%;
    }

    .publications-icons a img {
        height:50px;
    }

    .publications-icons {
        margin-left: 0;
        width:100%;
    }

    .publications-icons a {
        margin: 0;
    }

    .publications-text {
        margin-left: 33px;
        width: 447px;
    }
    
    .laptop-container {
        margin-left: 92px;
        background-position: center;
    }

    .laptop-text {
        text-align:center;
        margin-top: 59px;
        margin-left: -35px;
    }

    blockquote {
        font-size: 17px;
    }

    .donate-container {
        margin-left: -113px;
    }

    .helper-wrapper {
        width: 100%;
    }

    .info-container {
        top: 30px;
        width:100%;
    }

    .useful-links:after {
        display: none;
    }
}
   
@media screen and (max-width: 540px) {
    .main-content-wrapper {
        width: 133%;
    }
    
    header {
        width: 133%;
        background-size: 172%;
        background-position: center;
    }

    .describe-website {
        margin-left: 64px;
    }

    #security {
        width: 133%;
    }

    .laptop-container {
        width: 116%;
    }

    .donate-container {
        width: 153%;
    }

    .donate-wrapper {
        margin-left: 148px;
    }

    .helper-wrapper {
        border-top: 0px;
        border-right: 0px;
    }
}

@media screen and (max-width: 375px) {
    .main-content-wrapper {
        width: 191%;
    }
    
    header {
        width: 191%;
        background-size: 212%;
        background-position: center;
    }

    #security {
        width: 191%;
    }

    .laptop-container {
        width: 166%;
    }

    .donate-container {
        width: 221%;
    }
}